<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.3.1/htmx.min.js"></script>
    <link href="assets/tachyons.min.css" rel="stylesheet"/>
    <title>Ghost Assistant</title>
</head>
<html>
<body>
<div class="dt-ns dt--fixed-ns">
    <div class="dtc-ns tc">
    </div>
    <div class="dtc-ns tc pv1 bg-black-20">
        <header class="tc pv1 pv1-ns">
        <img src="assets/logo.png" class="br-100 pa1 ba b--black-10 h3 w3" alt="avatar">
        <h1 class="f5 f4-ns fw6 black">Skunk Works</h1>
        <h2 class="f6 black fw2 ttu tracked">GHOST ASSISTANT</h2>
        </header>
    </div>
    <div class="dtc-ns tc">
    </div>
</div>

<div hx-ws="connect:wss://ghostassistant.herokuapp.com/api">
    <div id="page">
        <div class="dt-ns dt--fixed-ns">
            <div class="dtc-ns tc">
            </div>
            <div class="dtc-ns tc pv3 bg-black-20" >
                <a class="f6 link dim br2 ph4 pv2 mb2 dib white bg-black" hx-ws="send" hx-vals={{loadJobsTmpl}}>Available Jobs</a>
            </div>
            <div class="dtc-ns tc">
            </div>
        </div>
    </div>
    <div class="dt-ns dt--fixed-ns">
        <div class="dtc-ns tc">
        </div>
        <div class="dtc-ns tc bg-black-20">
            <footer class="bg-near-black white-80 pv1">
                <div id="console">
                    ...
                </div>
            </footer>
        </div>
        <div class="dtc-ns tc">
        </div>
    </div>
</div>

</body>
</html>