<div id="page">
    <div class="dt-ns dt--fixed-ns">
        <div class="dtc-ns tc">
        </div>
        <div class="dtc-ns tc pv2 bg-black-20">
            <img src="https://i.imgur.com/XcOM9fx.jpeg"></img>
        </div>
        <div class="dtc-ns tc">
        </div>
    </div>
    <div class="dt-ns dt--fixed-ns">
        <div class="dtc-ns tc">
        </div>
        <div class="dtc-ns tc pv3 bg-black-20">
            <a>Job Name: {{.Name}}</a><br>
            <a>Job ID: {{.ID}}</a><br>
            <a>Job Version: {{.Version}}</a>
        </div>
        <div class="dtc-ns tc">
        </div>
    </div>
    <div class="dt-ns dt--fixed-ns">
        <div class="dtc-ns tc">
        </div>
        <div class="dtc-ns tc pv3 bg-black-20" >
            <a class="f6 link dim br2 ph4 pv2 mb2 dib white bg-black" hx-ws="send" hx-vals={{loadOperationTmpl .Start}}>Start</a>
        </div>
        <div class="dtc-ns tc">
        </div>
    </div>
</div>