<div id="page">
  <div class="dt-ns dt--fixed-ns">
    <div class="dtc-ns tc">
    </div>
    <div class="dtc-ns tc pv1 bg-black-20">
      <div class="overflow-auto">
        <table class="f6 w-100 mw5 center" cellspacing="0">
          <tbody>
            <tr>
              <td class="pv2 pr2">Glock Rails</td>
              <td class="pv2 pr2">
                <a class="f6 link dim br2 ph4 pv2 mb2 dib white bg-black" hx-ws="send" hx-vals={{loadJobTmpl "00001"}}>Load</a>
              </td>
            </tr>
            <tr>
              <td class="pv2 pr2">Chonk-15 Receiver</td>
              <td class="pv2 pr2">
                <a class="f6 link dim br2 ph4 pv2 mb2 dib white bg-black" hx-ws="send" hx-vals={{loadJobTmpl "00001"}}>Load</a>
              </td>
            </tr>
            <tr>
              <td class="pv2 pr2">AR Bolt</td>
              <td class="pv2 pr2">
                <a class="f6 link dim br2 ph4 pv2 mb2 dib white bg-black" hx-ws="send" hx-vals={{loadJobTmpl "00001"}}>Load</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="dtc-ns tc">
    </div>
  </div>
</div>